.Todo-list-container {
  background-color: rgb(201, 231, 231);
  margin-left: 1rem;
  margin: 5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  min-height: 25rem;
  border: 1px solid black;
}
.todoform {
  display: flex;
  width: 25rem;
  margin-top: 2rem;
  font-size: 2rem;
  gap: 1rem;
  justify-items: center;
}
.todoform input {
  font-size: 1.79rem;
  padding: 0.3rem;

  border-radius: 10px;
}
.todoform input ::placeholder {
  font-size: 2rem;
}
.todoform button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(241, 245, 248);
  font-weight: 600;
}
.todoform button:hover {
  background-color: rgb(121, 107, 107);
  color: whitesmoke;
}
.task-div {
  margin-top: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 1rem rgb(45, 45, 46);
  background-color: rgb(29, 216, 223);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.todo-text {
  font-size: 1.5rem;
  font-weight: 400;
}
.icons {
  display: flex;
  padding-left: 5rem;
  justify-items: flex-end;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.complete {
  text-decoration: line-through;
  opacity: 0.5;
  background-color: rgb(75, 247, 161);
}
.hide {
  display: none;
}
